body {
  background-color: #F9F9F9;
  font-family: sans-serif;
}

.container {
  max-width: 1356px;
  margin: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-text {
  font-size: 28px;
  font-weight: 100;
}

.hero {
  margin-top: 20px;
}
.hero-navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EDEDEE;
  border-radius: 8px;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 25px;
}

.list {
  list-style-type: none;
}
.list-link {
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
}

.list-link:hover {
  color: #FF0000;
}

.menu {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: aqua;
  z-index: 2;
}
.menu-line {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #000;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.menu-line:nth-child(1) {
  transform: translateY(-10px);
}
.menu-line:nth-child(3) {
  transform: translateY(10px);
}

.hero.open .menu-line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  background-color: #fff;
}

.hero.open .menu-line:nth-child(2) {
  opacity: 0;
}

.hero.open .menu-line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  background-color: #fff;
}

.button {
  padding: 7px 15px;
  width: 150px;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .logo {
    margin-right: 17px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 760px;
  }
  .logo {
    margin-right: 17px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .logo {
    margin-right: 17px;
  }
}
.interface-block {
  display: flex;
  justify-content: space-around;
}

.name-page {
  margin-top: 35px;
  margin-bottom: 70px;
}

.settings {
  display: inline-block;
  padding-top: 70px;
}

.settings-label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 400;
}

.field {
  border: 1px solid;
  width: 550px;
  height: 550px;
}

.input {
  margin-bottom: 30px;
  text-align: center;
}

.settings-input {
  width: 180px;
  height: 25px;
}

.block {
  height: 50px;
  border: 1px solid red;
}

.first-buttons {
  margin-bottom: 10px;
}

.buttons-generate {
  margin-right: 7px;
}

.add-st {
  margin-right: 7px;
}

@media (max-width: 992px) {
  .interface-block {
    flex-direction: column-reverse;
  }
  .field {
    margin: auto;
  }
  .btn {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .interface-block {
    flex-direction: column-reverse;
  }
  .field {
    margin: auto;
  }
  .btn {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .interface-block {
    flex-direction: column-reverse;
  }
  .field {
    margin: auto;
  }
  .btn {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .menu {
    display: block;
    border-radius: 8px;
  }
  .links {
    position: absolute;
    width: 300px;
    left: -350px;
    top: 0;
    background-color: purple;
    display: block;
    padding: 70px 20px 20px 20px;
    transition: transform 0.5s;
  }
  .list-link {
    color: #fff;
    font-size: 21px;
    display: block;
    padding: 10px 10px;
  }
  .hero.open .links {
    transform: translateX(100%);
  }
}
.configure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-style {
  margin-bottom: 7px;
}

@media (max-width: 992px) {
  .configure {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-style {
    margin-right: 7px;
  }
}
@media (max-width: 768px) {
  .configure {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-style {
    margin-right: 7px;
  }
}
@media (max-width: 576px) {
  .configure {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button-style {
    margin-right: 7px;
  }
}
@media (max-width: 992px) {
  .long::after {
    content: "\a";
    white-space: pre;
  }
}
@media (max-width: 768px) {
  .long::after {
    content: "\a";
    white-space: pre;
  }
}
@media (max-width: 576px) {
  .long::after {
    content: "\a";
    white-space: pre;
  }
}
@media (max-width: 992px) {
  .configure {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .configure {
    align-items: center;
  }
}
@media (max-width: 576px) {
  .configure {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */